{
  "rules": {
    "no-undef": "warn",
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "no-underscore-dangle": [
      "warn",
      { "allow": ["_id", "_sid", "_maxage", "__INITIAL_STATE__"] }
    ],
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }

    ],
      "react/jsx-filename-extension": [
        "off"
      ],
      "react/jsx-wrap-multilines": [
        "off"
      ],
      "react/jsx-one-expression-per-line":[
        "off"
      ],
      "react/jsx-curly-brace-presence":[
        "off"
      ],
      "react/forbid-prop-types":[
        "off"
      ],
      "arrow-parens": [
        "warn","as-needed"     
      ],
      "import/named":[
        "off"
      ],
      "no-else-return":[
        "off"
      ],
      "react/destructuring-assignment": [
        "off"
      ],
      "jsx-quotes": [
        "error","prefer-single"
      ],
      "no-nested-ternary": [
        "off"
      ],
      // for json strings in stories
      "quote-props": [
        "off"
      ],
      "react/jsx-props-no-spreading": [
        "off"
      ],
      "no-plusplus": [
        "off"
      ],
      "func-names": [
        "error", "always",
        {
           "generators": "never"
        }
      ],
      "prefer-template": [
        "off"
      ],
      "no-console": "off",
      "max-len" : [
        "error",
        {
          "code": 100,
          "ignoreTrailingComments": true,
          "ignoreUrls": true,
          "ignoreComments": false,
          "ignoreRegExpLiterals": true,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true
        }
      ],
      "react/default-props-match-prop-types": ["error", { "allowRequiredDefaults": true}],
      "react/require-default-props": ["error", { "forbidDefaultForRequired": false }],
      "template-curly-spacing" : "off",
  },
  "extends": [
    "airbnb",
    "react-app",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "plugins": [
    "testing-library",
    "jest"
  ],
  "globals": {
    "window": true,
    "document": true,
    "__DEBUG__": true,
    "btoa": true,
    "fetch": true,
    "Blob": true,
    "URL": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  }
}